/*Importando FontAwesome*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
/*Importando Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap');

/*Criando variáveis para as fontes*/
:root{
    --font-primary: "Poppins", serif;
    --font-secondary: "Montserrat", sans-serif;
    --color-primary: #ffffff;
    --color-secondary: #FFB039;
}

/*Configuração base*/
*{
    padding: 0;
    margin: 0;
    font-family: var(--font-primary);
    text-decoration: none;
}

/* personalizar a barra em geral, aqui estou definindo 10px de largura para a barra vertical
e 10px de altura para a barra horizontal */
::-webkit-scrollbar {
    width:10px;
    height: 10px;
    }
     
/* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
::-webkit-scrollbar-track {
background:#333;
}
     
/* aqui é a alça da barra, que demonstra a altura que você está na página
estou colocando uma cor azul clara nela*/
::-webkit-scrollbar-thumb {
background: var(--color-secondary);
}

/*Alça da barra em evento de click*/
::-webkit-scrollbar-thumb:active {
    background: var(--color-primary);
    }

/*Configurando Home*/
#home-section{
    width: 100%;
    height: 100vh;
    background: url(../img/bg-home.jpg);
    background-size: cover;
}

/*Configurando Header Principal*/
#first-header{
    width: 100%;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.199);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

/*Configurando posicionamento do Logo*/
#logo-header{
    width: 85px;
    height: 85px;
    margin-left: 1em;
}

/*Configurando Links*/
#links-header a{
    color: var(--color-primary);
    margin: 1em;
}

/*Configurando Links em evento de hover*/
#links-header a:hover{
    color: var(--color-secondary);
    margin: 1em;
    transition: all .25s;
}

/*Configurando link de contato*/
#link-contact a{
    color: var(--color-primary);
    margin-right: 2em;
    padding: .5em;
    border-radius: 5px;
    background: var(--color-secondary);
}

/*Configurando link de contato em evento de header*/
#link-contact a:hover{
    color: var(--color-secondary);
    background: var(--color-primary);
    transition: all .25s;
}